<div class="row">
  <div class="col-6">
    <app-dona
      title="Ventas"
      [labels]="[ 'Camisa', 'Pantalos', 'Zapato' ]"
      [data]="[ 350, 450, 100 ]">
    </app-dona>
  </div>
  <div class="col-6">
    <app-dona
      title="Compras"
      [labels]="[ 'Calzones', 'Calcetines', 'Tangas' ]"
      [data]="[ 215, 115, 100 ]">
    </app-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-dona
      title="Activos"
      [labels]="[ 'Hoteles', 'Locales', 'Garajes' ]"
      [data]="[ 100, 50, 25 ]">
    </app-dona>
  </div>
  <div class="col-6">
    <app-dona
      title="Pasivos"
      [labels]="[ 'Gas', 'Gasolina', 'Aceite' ]"
      [data]="[ 350, 450, 100 ]">
    </app-dona>
  </div>
</div>
